.stage {
  padding-bottom: 85px;
  margin-bottom: 15px;
}

.stage__title {
  margin-bottom: 35px;
}

.stage__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.stage__text-content {
  min-width: 437px;
  flex: 0 1 758px;
}

.stage__text-content-title {
  margin-bottom: 8px;
  line-height: 32px;
}

.stage__text-content-text {
  margin-bottom: 16px;
}

.stage__buttons {
  display: flex;
  column-gap: 32px;
}

.stage__wrapper::after {
  border-radius: var(--radius);
  flex: 0 1 870px;
  background: url("../../assets/images/stage-image.webp") no-repeat center;
  background-size: cover;
  content: '';
}

@media (max-width: 1600px) {
  .stage__wrapper {
    column-gap: 96px;
  }
}

@media (max-width: 1200px) {
  .stage {
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  .stage__wrapper {
    column-gap: 50px;
  }

  .stage__text-content-text {
    margin-bottom: 25px;
  }
}

@media (max-width: 992px) {
  .stage__title {
    margin-bottom: 31px;
  }

  .stage__wrapper {
    flex-direction: column-reverse;
    row-gap: 39px;
  }

  .stage__wrapper::after {
    width: 100%;
    flex: 0 1 284px;
  }

  .stage__text-content {
    width: 100%;
    flex: 1 1 100%;
  }

  .paragraph-with-indent {
    margin-top: -32px;
    text-indent: 287px;
  }
}

@media (max-width: 576px) {
  .stage {
    margin-bottom: 61px;
  }

  .stage__title {
    margin-bottom: 18px;
  }

  .stage__wrapper {
    row-gap: 16px;
  }

  .stage__wrapper::after {
    max-height: 160px;
  }

  .stage__text-content {
    min-width: unset;
  }

  .stage__text-content-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
  }

  .paragraph-with-indent {
    margin-top: 0;
    text-indent: 0;
  }

  .stage__buttons {
    justify-content: flex-start;
    column-gap: 10px;
  }

  .stage__secondary-button {
    padding-right: 30px;
    padding-left: 30px;
  }
}
