.card {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 64px 58px;
  border: 1px solid var(--gray-color1);
  border-radius: 32px;
  flex-direction: row;
  gap: 52px;
}

.card_big {
  height: 100%;
  padding: 0;
  border: none;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__text-content {
  max-width: 452px;
  order: 2;
}

.card__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  color: var(--default-color);
}

.card__description {
  color: var(--default-color);
}

.card__description:before {
  position: absolute;
  top: 108px;
  left: 58px;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  content: '';
}

.card__description::after {
  position: absolute;
  top: 63px;
  left: 114px;
  display: block;
  width: 135px;
  height: 135px;
  background-position: top right;
  background-repeat: no-repeat;
  content: '';
}

.about__card-billet {
  display: flex;
  width: 100%;
  padding: 50px;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-color2);
}

.card_big .card__description {
  max-width: 433px;
  font-weight: 700;
  color: #fff;
}

.card_big .card__description::before {
  display: none;
}
