@import url(./main-menu.css);

.header {
  margin-bottom: 50px;
  --column-gap: 85px;
}

.header__container {
  width: 100%;
  max-width: 1920px;
}

.header__logo:focus {
  outline-color: var(--primary-focus-color);
}

.header__wrapper {
  display: flex;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__right-side {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}
