.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.questions__wrapper {
  display: flex;
  column-gap: var(--gap);
  --offsets: 2;
}

.questions__card .card__description::before {
  display: none;
}
