.button {
  display: block;
  width: fit-content;
  padding: 20px 54px;
  border-radius: var(--default-radius);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  background-color: var(--accent-color);
  color: var(--white-font-color);
}

.button_small {
  font-size: 16px;
}

@media (min-width: 768px) {
  .button_small {
    padding: 21px 56px;

  }
}

@media (min-width: 992px) {
  .button_small {
    padding-right: 58px;
    padding-left: 58px;
  }
}
