:root {
  /* indents */
  --gap: 32px;

  /* radius */
  --radius: 32px;


  /* transition */
  --transition: .3s;
  --transition-func: ease-in-out;

  /* default colors */
  --default-background-color: #fff;
  --default-color: #000;
  --footer-background-color: #000;

  --accent-color-1: #f90;
  --accent-color-2: #ffb84d;
  --accent-color-3: #e1670e;
  --accent-color-4: #97ee3f;

  --gray-color1: #cacaca;
  --gray-color2: rgba(0, 0, 0, 0.50);
  --gray-color3: #666;
  --gray-color4: #414141;


  /* buttons primary colors */
  --primary-accent-color: var(--accent-color-1);
  --primary-hover-color: var(--accent-color-2);
  --primary-focus-color: var(--accent-color-2);
  --primary-active-color: var(--accent-color-3);
  --primary-text-color: #fff;

  /* buttons sub-primary colors */
  --sub-primary-accent-border-color: var(--primary-accent-color);
  --sub-primary-hover-color: var(--primary-hover-color);
  --sub-primary-focus-color: var(--primary-focus-color);
  --sub-primary-active-color: var(--primary-active-color);
  --sub-primary-text-color: var(--primary-text-color);

  /* buttons secondary colors */
  --secondary-accent-color: #fff;
  --secondary-accent-border-color: #000;
  --secondary-accent-text-color: #000;
  --secondary-hover-color: var(--gray-color3);
  --secondary-focus-color: var(--gray-color3);
  --secondary-active-color: #000;
  --secondary-states-text-color: #fff;

  /* buttons with icon only colors */
  --button-icon-default-color: #000;
  --button-icon-focus-color: var(--primary-focus-color);
  --button-icon-hover-color: var(--primary-hover-color);
  --button-icon-active-color: #000;

  /* text links colors */
  --header-text-link-color: #000;
  --footer-text-link-color: var(--gray-color1);
}

@media (max-width: 992px) {
  :root {
    --radius: 24px;
  }
}

@media (max-width: 576px) {
  :root {
    --radius: 16px;
  }
}
