@import url('./fonts.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f1f1f1
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

/* glob */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 70px;
}

.main__section {
  margin-bottom: 70px;
}

.section__title {
  padding-left: 40px;
  margin-bottom: 20px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.paragraph {
  line-height: 200%;
  color: #000;
}

/* headings */
.heading-2 {
  font-size: 40px;
  font-weight: 400;
  color: #333;
}

.heading-3 {
  font-weight: 700;
}

/*buttons*/
.btn {
  display: block;
  min-width: 108px;
  padding: 13px 20px;
  border: 1px solid #c93;
  border-radius: 10px;
  background-color: #fff;
  color: #c93;
  cursor: pointer;
}

.btn_big {
  padding: 30px;
}

/* card links */
.card-link {
  display: flex;
  width: fit-content;
  /* padding-right: 1px; */
  align-items: center;
  column-gap: 1px;
  /* background-image: url("../img/arrow-right.svg"); */
  /* background-position: right center; */
  /* background-repeat: no-repeat; */
  color: #c93;
}

/* при использовании псевдоэлемента правая часть стрелки каким-то образом,
при rotate(-45deg),  выходит за пределы <a> и становится некликабельной. */
/* почему псевдоэлемент: стрелка используется, и в последней карточке секции Размещение, и в других карточка
разница только в цвете. Я посчитал, что грузить две svg, как фоновое изображение,
это слишком много и решил просто сверстать похожий элемент*/

.card-link::after {
  display: block;
  width: 11px;
  height: 11px;
  border-right: 2px solid #f0bf5f;
  border-bottom: 2px solid #f0bf5f;
  content: '';
  transform: rotate(-45deg);
}


/* header */
.header {
  padding-top: 30px;
}

.header__top-row {
  margin-bottom: 30px;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
  font-size: 0;
}

.header__phone-number {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.header__top-row-link {
  padding-left: 29px;
  background-image: url("../img/keyboard_tab.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  color: #c93;
}

.header__bottom-row {
  padding: 14px 45px;
  border-radius: 15px;
  align-items: center;
  background-color: #fff;
}

.header__main-menu {
  margin-right: auto;
}

.main-menu__item:not(:last-child) {
  margin-right: 45px;
}

.main-menu__item-link {
  color: #666;
}

.header__buttons {
  column-gap: 40px;
}

/* special-offer */
.special-offers__container {
  column-gap: 24px;
}

.special-offers__column {
  width: 50%;
  flex-direction: column;
  row-gap: 24px;
}

.special-offer {
  overflow: hidden;
  min-height: 258px;
  padding: 40px 108px 45px 40px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-end;
}

.special-offer_big {
  padding: 40px 216px 45px 40px;
}

.special-offer_maldives {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%) no-repeat center, url("../img/special-offers/spec-maldives.jpg") no-repeat center;
  background-size: contain, cover;
}

.special-offer_hot-tour {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%) no-repeat center, url("../img/special-offers/spec-crete.jpg") no-repeat center;
  background-size: contain, cover;
}

.special-offer_luxury {
  background: url("../img/special-offers/spec-luxury.jpg") no-repeat center;
  background-size: cover;
}

.special-offer__title {
  margin-bottom: 15px;
  font-size: 40px;
  color: #fff;
}

.special-offer_big .special-offer__title {
  font-size: 60px;
}

.special-offer__price {
  opacity: .8;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.special-offer_big .special-offer__price {
  font-size: 30px;
}

.special-offer_big {
  height: 100%;
  min-height: 540px;
}

/* about-us */
.about-us__text {
  max-width: 75%;
}


/* services */
.services__services-list {
  flex-wrap: wrap;
  gap: 24px;
}

.service-card {
  overflow: hidden;
  width: 573px;
  padding: 191px 120px 35px 45px;
  border-radius: 15px;
}

.service-card_exclusive-service {
  background: url("../img/services/serv-exclusive-service.jpg") no-repeat center top, #fff;
  background-size: contain, cover;
}

.service-card_halls-rent {
  background: url("../img/services/serv-halls-rent.jpg") no-repeat center top, #fff;
  background-size: contain, cover;
}

.service-card_spa {
  background: url("../img/services/serv-spa.jpg") no-repeat center top, #fff;
  background-size: contain, cover;
}

.service-card_car-parks {
  background: url("../img/services/serv-car-parks.jpg") no-repeat center top, #fff;
  background-size: contain, cover;
}

.service-card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

/* advantage */
.advantage__list {
  flex-wrap: wrap;
  gap: 22px;
}

.advantage-card {
  width: 276px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
}

.advantage-card_bath {
  background: url("../img/advantages/1-bath.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_hanger {
  background: url("../img/advantages/2-hanger.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_heating {
  background: url("../img/advantages/3-heating.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_hotel-key {
  background: url("../img/advantages/4-hotel-key.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_parking {
  background: url("../img/advantages/5-parking.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_reception {
  background: url("../img/advantages/6-reception.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_safe {
  background: url("../img/advantages/7-security-box.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

.advantage-card_swimming-pool {
  background: url("../img/advantages/8-swimming-pool.svg") no-repeat 45px 40px, #fff;
  background-size: 66px 66px, cover;
}

/* accommodation */
.accommodation__list {
  flex-wrap: wrap;
  gap: 24px;
}

.hotel-card {
  overflow: hidden;
  width: 374px;
  border-radius: 15px;
  background-color: #fff;
}

.hotel-card__content {
  padding: 32px 45px 45px;
}

.hotel-card__content-top-row {
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.hotel-card__from {
  color: #999;
}

.hotel-card__cost-value {
  font-size: 20px;
  font-weight: 700;
}

.hotel-card__name {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.hotel-card__location {
  margin-bottom: 20px;
  color: #999;
}

.hotel-card_last {
  padding: 32px 45px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../img/hotel-cards/last.jpg") no-repeat center;
  background-size: cover;
}

.hotel-card_last-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  color: #fff;
}

.hotel-card_last-link:after {
  border-right-color: #fff;
  border-bottom-color: #fff;
}

/* прижать ссылку к низу карточки можно двумя способами,
мне больше нравится через флекс -
таким образом нам вообще не нужно будет
использовать класс accommodation__last-card-link */
