@font-face {
  font-family: Montserrat;
  src: local('Montserrat-Regular'),
  url(../assets/fonts/Montserrat-Regular.woff2) format('woff2'),
  url(../assets/fonts/Montserrat-Regular.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat-Medium'),
  url(../assets/fonts/Montserrat-Medium.woff2) format('woff2'),
  url(../assets/fonts/Montserrat-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat-SemiBold'),
  url(../assets/fonts/Montserrat-SemiBold.woff2) format('woff2'),
  url(../assets/fonts/Montserrat-SemiBold.woff) format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat-Bold'),
  url(../assets/fonts/Montserrat-Bold.woff2) format('woff2'),
  url(../assets/fonts/Montserrat-Bold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src: local('Montserrat-ExtraBold'),
  url(../assets/fonts/Montserrat-ExtraBold.woff2) format('woff2'),
  url(../assets/fonts/Montserrat-ExtraBold.woff) format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
