@import url(./vars.css);
@import url(./fonts.css);

@import url(./ui-kit/typography.css);
@import url(./ui-kit/text-link.css);
@import url(./ui-kit/button.css);
@import url(./ui-kit/checkbox.css);
@import url(./ui-kit/control.css);
@import url(./ui-kit/logo-link.css);

@import url(./components/card.css);

@import url(./components/header.css);
@import url(./components/hero.css);
@import url(./components/about.css);
@import url(./components/stage.css);
@import url(./components/questions.css);
@import url(./components/footer.css);

/* null-styles ============================================================== */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* ========================================================================== */

/* global =================================================================== */
body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background-color: var(--default-background-color);
  color: var(--default-color);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-transition-helper path {
  transition: stroke var(--transition) var(--transition-func);
}

.svg-transition-helper rect {
  transition: fill var(--transition) var(--transition-func);
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.container_full-width {
  padding: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* ========================================================================== */

/* main and sections ======================================================== */
.section {
  margin-bottom: 50px;
}

.section__title {
  color: var(--default-color);
}

/* ========================================================================== */
