@import url(./vars.css);
@import url(./fonts.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* global =================================================================== */

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background-color: var(--default-background-color);
  color: var(--default-color);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-transition-helper path {
  transition: stroke var(--transition) var(--transition-func);
}

.svg-transition-helper rect {
  transition: fill var(--transition) var(--transition-func);
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.container_full-width {
  padding: 0;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* ========================================================================== */

/* main and sections ======================================================== */
.section {
  margin-bottom: 50px;
}

.section__title {
  color: var(--default-color);
}

/* ========================================================================== */

/* typography =============================================================== */

h1 {
  font-size: 70px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.paragraph {
  line-height: 32px;
}

/* ========================================================================== */

/* text-link ================================================================ */
.text-link {
  outline: 2px solid transparent;
  outline-offset: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: outline-color var(--transition) var(--transition-func);
}

.text-link:active {
  outline: none;
}

/* ========================================================================== */

/* buttons ================================================================== */
.button {
  padding: 19px 36px 18px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 2px solid transparent;
  border-radius: 16px;
  background-color: var(--default-background-color);
  cursor: pointer;
  transition: color var(--transition) var(--transition-func), background-color var(--transition) var(--transition-func), border-color var(--transition) var(--transition-func), outline-color var(--transition) var(--transition-func);
}

.button_big {
  padding: 24px 38px;
  font-size: 23px;
  font-weight: 700;
}

.button_primary {
  border-color: transparent;
  font-weight: 700;
  background-color: var(--primary-accent-color);
  color: var(--primary-text-color);
}

.button_secondary {
  border-color: var(--secondary-accent-border-color);
  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-text-color);
}

.button_transparent {
  border-color: var(--sub-primary-accent-border-color);
  background-color: transparent;
  color: var(--sub-primary-text-color);
}

.button_primary:focus {
  background-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .button_primary:hover {
    background-color: var(--primary-hover-color);
  }
}

.button_primary:active {
  background-color: var(--primary-active-color);
}

.button_secondary:focus {
  border-color: transparent;
  background-color: var(--secondary-focus-color);
  color: var(--secondary-states-text-color);
}

@media (hover: hover) {
  .button_secondary:hover {
    border-color: transparent;
    background-color: var(--secondary-hover-color);
    color: var(--secondary-states-text-color);
  }
}

.button_secondary:active {
  border-color: transparent;
  background-color: var(--secondary-active-color);
  color: var(--secondary-states-text-color);
}

.button_icon-only {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 0;
  align-items: center;
  justify-content: center;
}

.button_icon-only svg {
  scale: 1.2;
}

.button_icon-only svg path {
  stroke: var(--button-icon-default-color);
}

.button_icon-only svg rect {
  fill: var(--button-icon-default-color);
}

.button_icon-only:focus {
  outline-color: var(--button-icon-focus-color);
}

@media (hover: hover) {
  .button_icon-only:hover svg path {
    stroke: var(--button-icon-hover-color);
  }

  .button_icon-only:hover svg rect {
    fill: var(--button-icon-hover-color);
  }
}

.button_icon-only:active {
  outline-color: transparent;
}

.button_icon-only:active svg path {
  stroke: var(--button-icon-active-color);
}

.button_icon-only:active svg rect {
  fill: var(--button-icon-active-color);
}

.button_transparent:focus {
  border-color: transparent;
  background-color: var(--sub-primary-focus-color);
}

@media (hover: hover) {
  .button_transparent:hover {
    border-color: transparent;
    background-color: var(--sub-primary-hover-color);
  }
}

.button_transparent:active {
  border-color: transparent;
  background-color: var(--sub-primary-active-color);
}

/* ========================================================================== */

/* custom-checkbox */

.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -10000;
  visibility: hidden;
}

.custom-checkbox__text {
  padding-left: 18px;
  line-height: 32px;
}

.custom-checkbox .custom-checkbox__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--gray-color1);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  content: '';
  transform: translateY(-50%);
  transition: border-color .3s ease-in-out;
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__text::before {
  background-image: url("../assets/icons/check.svg");
}

/* .form__checkbox .custom-checkbox__text::after { */
/*   position: absolute; */
/*   top: -10px; */
/*   left: 0; */
/*   opacity: 0; */
/*   font-size: 12px; */
/*   font-weight: 300; */
/*   line-height: 100%; */
/*   color: red; */
/*   content: 'Обязательное поле'; */
/*   transition: opacity .3s ease-in-out; */
/* } */

.custom-checkbox input[type="checkbox"]:invalid + .custom-checkbox__text::after {
  opacity: 1;
  /* нет js - сделал "на жёсткую". обычно добавляется классс через js  */
}

/* ========================================================================== */

/* card ==+================================================================== */
.card {
  position: relative;
  display: flex;
  overflow: hidden;
  padding: 64px 58px;
  border: 1px solid var(--gray-color1);
  border-radius: 32px;
  flex-direction: row;
  gap: 52px;
}

.card_big {
  height: 100%;
  padding: 0;
  border: none;
  align-items: flex-end;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__text-content {
  max-width: 452px;
  order: 2;
}

.card__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  color: var(--default-color);
}

.card__description {
  color: var(--default-color);
}

.card__description:before {
  position: absolute;
  top: 108px;
  left: 58px;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  content: '';
}

.card__description::after {
  position: absolute;
  top: 63px;
  left: 114px;
  display: block;
  width: 135px;
  height: 135px;
  background-position: top right;
  background-repeat: no-repeat;
  content: '';
}

.card__billet {
  display: flex;
  width: 100%;
  padding: 50px;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-color2);
}

.card_big .card__description {
  max-width: 433px;
  font-weight: 700;
  color: #fff;
}

.card_big .card__description::before {
  display: none;
}

.questions__card .card__description::before {
  display: none;
}

/* ========================================================================== */

/* logo-link ================================================================ */
.logo-link {
  display: flex;
  height: 100%;
  max-height: 72px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  align-items: center;
  transition: outline-color var(--transition) var(--transition-func);
}

/* ========================================================================== */


/* header =================================================================== */
.header {
  margin-bottom: 50px;
  --column-gap: 85px;
}

.header__container {
  width: 100%;
  max-width: 1920px;
}

.header__logo:focus {
  outline-color: var(--primary-focus-color);
}

.header__wrapper {
  display: flex;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__right-side {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}

.main-menu {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}

.main-menu__link {
  border-bottom: 2px solid transparent;
  color: var(--header-text-link-color);
  transition: border-bottom-color var(--transition) var(--transition-func);
}

.main-menu__link:focus {
  outline-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .main-menu__link:hover {
    border-bottom-color: var(--primary-hover-color);
  }
}

.main-menu__link:active {
  border-bottom-color: var(--primary-active-color);
  color: var(--primary-active-color);
}

/* ========================================================================== */

/* hero ===================================================================== */
.hero__wrapper {
  padding: 100px 80px;
  border-radius: 32px;
  background: url("../assets/images/low-angle-photo-of-balconies-2462015 1.webp") no-repeat center;
  background-size: cover;
}

.hero__content {
  display: flex;
  max-width: 837px;
  margin-bottom: 88px;
  flex-direction: column;
  row-gap: 24px;
}

.hero__title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
}

.hero__description {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

/* ========================================================================== */

/* about ==================================================================== */
.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 22px;
}

.about__description {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__cards {
  display: flex;
  column-gap: var(--gap);
}

.about__column {
  width: 50%;
}

.about__left-cards-column {
}

.about__right-cards-column {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.about__card {
  padding-left: 300px;
}

.about__card_builder {
  background-image: url("../assets/images/about-cards/success-rates.webp");
}

.about-card_active .card__description::after {
  background-image: url("../assets/images/about-cards/cube.svg");
}

.about-card_aspiration .card__description::after {
  background-image: url("../assets/images/about-cards/cogwheel.svg");
}

/* ========================================================================== */

/* stage ==================================================================== */
.stage {
  padding-bottom: 85px;
  margin-bottom: 15px;
}

.stage__title {
  margin-bottom: 35px;
}

.stage__wrapper {
  display: flex;
  justify-content: space-between;
}

.stage__text-content {
  max-width: 758px;
}

.stage__text-content-title {
  margin-bottom: 8px;
  line-height: 32px;
}

.stage__text-content-text {
  margin-bottom: 16px;
}

.stage__buttons {
  display: flex;
  column-gap: 32px;
}

.stage__wrapper::after {
  width: 870px;
  border-radius: 32px;
  background: url("../assets/images/stage-image.webp") no-repeat center;
  background-size: cover;
  content: '';
}

/* ========================================================================== */

/* questions ================================================================ */
.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.questions__wrapper {
  display: flex;
  column-gap: var(--gap);
  --offsets: 2;
}

/* ========================================================================== */

/* footer =================================================================== */
.footer {
  background-color: var(--footer-background-color);
}

.footer__wrapper {
  display: flex;
  padding: 50px 0 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_left {
  margin-right: 351px;
  justify-content: space-between;
}

.footer__column_center {
  flex: 0 1 570px;
  row-gap: 25px;
}

.footer__logo-and-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__logo:focus {
  outline-color: var(--accent-color-1);
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.footer-navigation__link {
  width: fit-content;
  line-height: 181%;
  color: var(--gray-color1);
}

.footer-navigation__link:focus {
  outline-color: var(--primary-accent-color);
}

@media (hover: hover) {
  .footer-navigation__link:hover {
    color: var(--primary-accent-color);
  }
}

.footer-navigation__link:active {
  color: var(--primary-active-color);
}

.footer__social {
  display: flex;
  column-gap: 25px;
}

.footer__social-icon {
  width: 60px;
  height: 60px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline-color .3s ease-in-out;
}

.footer__social-icon svg path {
  fill: var(--gray-color3);
}

.footer__social-icon:focus {
  outline-color: var(--primary-accent-color);
}

@media (hover: hover) {
  .footer__social-icon:hover svg path {
    fill: var(--primary-accent-color);
  }
}

.footer__social-icon:active svg path {
  fill: var(--primary-active-color);
}

.footer__title {
  color: var(--gray-color1);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__column_right {
  max-width: 363px;
  margin-top: 87px;
  margin-left: auto;
}

.footer__column_right p {
  color: var(--gray-color1);
}

/* ========================================================================== */

/* form ===================================================================== */
.form {
  gap: var(--gap);
}

.form__top-row {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form__control {
  padding: 14px 24px;
  outline: none;
  border: none;
  border-radius: 16px;
  line-height: 32px;
  background-color: var(--gray-color4);
  color: #fff;
}

.form__control_textarea {
  resize: none;
  height: 150px;
}

.form__control::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--gray-color1);
}

.form__control:focus {
  background-color: var(--gray-color3);
}

@media (hover: hover) {
  .form__control:hover {
    background-color: var(--gray-color3);
  }
}

.form__control:active {
  background-color: var(--gray-color3);
}

.form__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__checkbox .custom-checkbox__text {
  color: var(--gray-color1);
}

.form__button {
  padding-right: 50px;
  padding-left: 50px;
}

/* ========================================================================== */


