@import url(./vars.css);
@import url(./fonts.css);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* global =================================================================== */

body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  background-color: var(--default-background-color);
  color: var(--default-color);
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.svg-transition-helper path {
  transition: stroke var(--transition) var(--transition-func);
}

.svg-transition-helper rect {
  transition: fill var(--transition) var(--transition-func);
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.container_full-width {
  padding: 0;
}

/* ========================================================================== */

/* main and sections ======================================================== */
.section {
  margin-bottom: 50px;
}

.section__title {
  color: var(--default-color);
}

/* ========================================================================== */

/* typography =============================================================== */

h1 {
  font-size: 70px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.paragraph {
  line-height: 32px;
}

/* ========================================================================== */

/* text-link ================================================================ */
.text-link {
  font-size: 18px;
  font-weight: 600;
}

/* ========================================================================== */

/* buttons ================================================================== */
.button {
  padding: 19px 38px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 2px solid transparent;
  border-radius: 16px;
  background-color: var(--default-background-color);
  cursor: pointer;
  transition: color var(--transition) var(--transition-func), background-color var(--transition) var(--transition-func), border-color var(--transition) var(--transition-func), outline-color var(--transition) var(--transition-func);
}

.button_big {
  padding: 25px 39px;
  font-size: 23px;
  font-weight: 700;
}

.button_primary {
  border-color: transparent;
  font-weight: 700;
  background-color: var(--primary-accent-color);
  color: var(--primary-text-color);
}

.button_secondary {
  border-color: var(--secondary-accent-border-color);
  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-text-color);
}

.button_transparent {
  border-color: var(--sub-primary-accent-border-color);
  background-color: transparent;
  color: var(--sub-primary-text-color);
}

.button_primary:focus {
  background-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .button_primary:hover {
    background-color: var(--primary-hover-color);
  }
}

.button_primary:active {
  background-color: var(--primary-active-color);
}

.button_secondary:focus {
  border-color: transparent;
  background-color: var(--secondary-focus-color);
  color: var(--secondary-states-text-color);
}

@media (hover: hover) {
  .button_secondary:hover {
    border-color: transparent;
    background-color: var(--secondary-hover-color);
    color: var(--secondary-states-text-color);
  }
}

.button_secondary:active {
  border-color: transparent;
  background-color: var(--secondary-active-color);
  color: var(--secondary-states-text-color);
}

.button_icon-only {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 0;
}

.button_icon-only svg path {
  stroke: var(--button-icon-default-color);
}

.button_icon-only svg rect {
  fill: var(--button-icon-default-color);
}

.button_icon-only:focus {
  outline-color: var(--button-icon-focus-color);
}

@media (hover: hover) {
  .button_icon-only:hover svg path {
    stroke: var(--button-icon-hover-color);
  }

  .button_icon-only:hover svg rect {
    fill: var(--button-icon-hover-color);
  }
}

.button_icon-only:active {
  outline-color: transparent;
}

.button_icon-only:active svg path {
  stroke: var(--button-icon-active-color);
}

.button_icon-only:active svg rect {
  fill: var(--button-icon-active-color);
}

.button_transparent:focus {
  border-color: transparent;
  background-color: var(--sub-primary-focus-color);
}

@media (hover: hover) {
  .button_transparent:hover {
    border-color: transparent;
    background-color: var(--sub-primary-hover-color);
  }
}

.button_transparent:active {
  border-color: transparent;
  background-color: var(--sub-primary-active-color);
}

/* ========================================================================== */

/* header =================================================================== */
.header {
  margin-bottom: 50px;
  --column-gap: 85px;
}

.header__container {
  width: 100%;
  max-width: 1920px;
}

.header__wrapper {
  display: flex;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__logo-link {
  display: flex;
  height: 100%;
  max-height: 72px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  align-items: center;
  transition: outline-color var(--transition) var(--transition-func);
}

.header__logo-link:focus {
  outline-color: var(--primary-focus-color);
}

.header__logo {
  max-height: 72px;
}

.header__right-side {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}

.main-menu {
  display: flex;
  align-items: center;
  column-gap: var(--column-gap);
}

.main-menu__link {
  outline: 2px solid transparent;
  border-bottom: 2px solid transparent;
  color: var(--header-text-link-color);
  transition: outline-color var(--transition) var(--transition-func), border-bottom-color var(--transition) var(--transition-func);
}

.main-menu__link:focus {
  outline-offset: 5px;
  outline-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .main-menu__link:hover {
    border-bottom-color: var(--primary-hover-color);
  }
}

.main-menu__link:active {
  outline: none;
  border-bottom-color: var(--primary-active-color);
  color: var(--primary-active-color);
}

/* ========================================================================== */

/* hero ===================================================================== */
.hero__wrapper {
  padding: 100px 80px;
  border-radius: 32px;
  background: url("../assets/images/low-angle-photo-of-balconies-2462015 1.webp") no-repeat center;
  background-size: cover;
}

.hero__content {
  display: flex;
  max-width: 837px;
  margin-bottom: 90px;
  flex-direction: column;
  row-gap: 24px;
}

.hero__title {
  color: #fff;
}

.hero__description {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

/* ========================================================================== */
.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 20px;
}

.about__description {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__cards {
  display: flex;
  column-gap: var(--gap);
  --offsets: 1;
}

.about__column {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.about__left-cards-column {
}

.about__right-cards-column {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.about-card {
  display: flex;
  overflow: hidden;
  padding: 65px 60px;
  border: 1px solid var(--gray-color1);
  border-radius: 32px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}

.about-card__text-content {
  max-width: 460px;
  order: 2;
}

.about-card__title {
  margin-bottom: 8px;
  color: var(--default-color);
}

.about-card__description {
  color: var(--default-color);
}

.about-card__image {
  position: relative;
  height: 165px;
  /* width: 190px; */
  flex: 1 0 190px;
  order: 1;
  background: url("../assets/images/about-card-ellipse.svg") no-repeat left bottom;
  background-size: 120px;
}

.about-card__infographic {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: 71px 0;
  background-repeat: no-repeat;
}

.about-card_active .about-card__infographic {
  background-image: url("../assets/images/about-cards/cube.svg");
}

.about-card_aspiration .about-card__infographic {
  background-image: url("../assets/images/about-cards/cogwheel.svg");
}

.about-card-big {
  display: flex;
  height: 100%;
  border-radius: 32px;
  align-items: flex-end;
  background: url("../assets/images/about-cards/success-rates.webp") no-repeat center;
  background-size: cover;
}

.about-card-big__billet {
  display: flex;
  width: 100%;
  padding: 50px;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-color2);
}

.about-card-big__description {
  max-width: 433px;
  font-weight: 700;
  color: #fff;
}

/* ========================================================================== */

/* stage ==================================================================== */
.stage {
  padding-bottom: 85px;
  margin-bottom: 15px;
}

.stage__title {
  margin-bottom: 32px;
}

.stage__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stage__text-content {
  max-width: 740px;
}

.stage__text-content-title {
  margin-bottom: 8px;
  line-height: 200%;
}

.stage__text-content .paragraph:last-of-type {
  margin-bottom: 18px;
}

.stage__buttons {
  display: flex;
  column-gap: 32px;
}

.stage__right-side {
  width: 870px;
  height: 460px;
  border-radius: 32px;
  background: url("../assets/images/stage-image.webp") no-repeat center;
  background-size: cover;
}

/* .stage__image { */
/*   width: 870px; */
/*   height: 460px; */
/*   background: url("../assets/images/stage-image.webp") no-repeat center; */
/*   background-size: cover; */
/* } */

/* ========================================================================== */



