html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'font', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* glob */
.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 70px;
}

.main__section {
  margin-bottom: 70px;
}

.section__title {
  margin-bottom: 20px;
  padding-left: 40px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*buttons*/
.btn {
  display: block;
  min-width: 108px;
  padding: 13px 20px;
  cursor: pointer;
}

.btn_big {
  padding: 30px;
}


/* header */
.header {
  padding-top: 30px;
}

.header__top-row {
  align-items: center;
  margin-bottom: 30px;
}

.header__logo {
  margin-right: 40px;
  font-size: 0;
}

.header__phone-number {
  margin-right: auto;
}

.header__bottom-row {
  outline: 1px dotted coral;

  padding: 14px 45px;
  align-items: center;
}

.header__main-menu {
  margin-right: auto;
}

.main-menu__item:not(:last-child) {
  margin-right: 45px;
}

.header__buttons {
  column-gap: 40px;
}

/* special-offer */
.special-offers__column {
  width: 50%;
}

.special-offers__column:not(:nth-child(2n)) {
  margin-right: 24px;
}

.special-offer {
  outline: 1px dotted coral;

  min-height: 258px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 45px;
}

.special-offer:not(:last-child) {
  margin-bottom: 24px;
}

.special-offer__title {
  margin-bottom: 15px;
}

.special-offer__price {
  margin-bottom: 47px;
}

.special-offer_big {
  min-height: 540px;
}

/* about-us */
.about-us__text {
  max-width: 75%;
  /*line-height: 200%;*/
}


/* services */
.services__services-list {
  flex-wrap: wrap;
}

.services__services-list-item {
  outline: 1px dotted coral;

  width: 573px;
  padding: 191px 120px 35px 45px;
}

.services__services-list-item:nth-child(odd) {
  margin-right: 24px;
}

.services__services-list-item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 24px;
}

/*.service-card__title,*/
/*.service__description {*/
/*  line-height: 200%;*/
/*}*/

/* advantage */
.advantage__list {
  flex-wrap: wrap;
}

.advantage-card {
  outline: 1px dotted coral;

  width: 276px;
  padding: 116px 42px 32px 45px;
}

.advantage-card:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantage-card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 22px;
}

/* accommodation */
.accommodation__list {
  flex-wrap: wrap;
  gap: 24px;
}

.hotel-card {
  outline: 1px dotted coral;

  width: 374px;
}

.hotel-card__content {
  padding: 32px 45px 45px;
}

.hotel-card__content-top-row {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.hotel-card__name {
  margin-bottom: 16px;
}

.hotel-card__location {
  margin-bottom: 20px;
}

.accommodation__list-item_last {
  padding: 32px 45px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/* прижать ссылку к низу карточки можно двумя способами,
мне больше нравится через флекс -
таким образом нам вообще не нужно будет
использовать класс accommodation__last-card-link */

/*.accommodation__last-card-link {*/
/*  display: block;*/
/*  margin: auto auto 0;*/
/*}*/
