@import url(./null-style.css);
@import url(./variables.css);
@import url(./typography.css);

@import url(./ui-kit/button.css);

@import url(./components/header.css);
@import url(./components/hero.css);
@import url(./components/benefits.css);

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
