:root {
  /* indents */
  --default-headings-indent: 30px;
  --default-block-indent: 30px;

  /* radius */
  --default-radius: 20px;

  /* colors */
  --default-light-color: #fff;
  --default-dark-color: #000;

  --accent-color: #3f2aff;

  --black-background-color: #212133;
  --light-background-color: #fff;

  --default-course-card-background-color: #edf0f9;

  /* fonts colors */
  --black-font-color: #2e2b44;
  --white-font-color: #fff;
  --dark-font-color: #666;
  --light-font-color: #85859b;

  /* gradients */
  --black-background-gradient: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
}
