.teacher-card {
  display: flex;
  flex-direction: column;
  row-gap: 31px;
}

.teacher-card__image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 180px;
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

.teacher-card__image img {
  width: 100%;
}

.teacher-card__title {
  margin-bottom: 8px;
  color: var(--default-light-color);
}

.teacher-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--light-font-color);
}

@media (min-width: 768px) {
  .teacher-card {
    row-gap: 31px;
  }
}

@media (min-width: 992px) {
  .teacher-card__image {
    height: unset;
  }
}

@media (min-width: 1200px) {
  .teacher-card {
    row-gap: 30px;
  }

  .teacher-card__description {
    max-width: 254px;
  }
}
