@import url('./fonts.css');

:root {
  --default-color-f: #f0bf5f;
  --default-color-c: #c93;
  --hover-color_c: #c93;
  --hover-color_f: #f0bf5f;
  --focus-color: #c93;
  --active-color: #a47312;

  --button-text-color: #c93;
  --button-text-color-opposite: #fff;
  --button-background-color: #fff;

  --project-gray-color-1: #999;
  --project-gray-color-2: #666;

  --special-offer-card-gradient: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%);
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

body {
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f1f1f1
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* glob */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 70px;
}

.main__section {
  margin-bottom: 70px;
}

.section__title {
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.paragraph {
  font-style: normal;
  line-height: 200%;
  color: #000;
}

.paragraph_small {
  line-height: 150%;
}

.paragraph_gray {
  color: #999;
}

/* headings */
h2 {
  font-size: 40px;
  font-weight: 400;
}

h3,
.heading-3 {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}

/*buttons*/
.btn {
  display: block;
  min-width: 108px;
  padding: 13px 20px;
  outline: none;
  border: 1px solid var(--button-text-color);
  border-radius: 10px;
  line-height: 1;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

.btn_pre-big {
  height: auto;
  padding: 0 30px;
}

.btn_big {
  padding: 30px;
}

.btn:focus {
  border-color: var(--hover-color_c);
  background-color: var(--hover-color_c);
  color: var(--button-text-color-opposite);
}


.btn:hover {
  border-color: var(--hover-color_c);
  background-color: var(--hover-color_c);
  color: var(--button-text-color-opposite);
}

.btn:active {
  border-color: var(--active-color);
  background-color: var(--active-color);
  color: var(--button-text-color-opposite);
}

/* line links */
.line-link {
  width: fit-content;
  outline: 1px solid transparent;
  outline-offset: 5px;
  font-style: normal;
  line-height: 150%;
  color: var(--default-color-c);
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.line-link:focus {
  outline-color: var(--focus-color);
}

.line-link:hover {
  color: var(--hover-color_f)
}

.line-link:active {
  outline-color: transparent;
  color: var(--active-color);
}


/* header */
.header {
  padding-top: 30px;
}

.header__top-row {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
  font-size: 0;
}

.header__phone-number {
  outline-color: transparent;
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: var(--project-gray-color-2);
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.header__phone-number:focus {
  outline: 1px solid var(--focus-color);
  outline-offset: 5px;
  color: var(--focus-color);
}

.header__phone-number:hover {
  color: var(--hover-color_c);
}

.header__phone-number:active {
  outline-color: transparent;
  color: var(--active-color);
}

.header__top-row-link {
  display: flex;
  outline: 1px solid transparent;
  outline-offset: 5px;
  align-items: center;
  column-gap: 5px;
  transition: outline-color .3s ease-in-out;
}

.header__top-row-link span {
  /* padding-top необходим для точного,
  в соответствии с макетом,
  выравнивания span относительно svg */
  padding-top: 3px;
  line-height: 100%;
  color: var(--default-color-c);
  transition: color .3s ease-in-out;
}

.header__top-row-link svg path {
  transition: fill .3s ease-in-out;
  fill: var(--default-color-c);
}

.header__top-row-link:focus {
  outline-color: var(--focus-color);
}

.header__top-row-link:hover span {
  color: var(--hover-color_f)
}

.header__top-row-link:hover svg path {
  fill: var(--hover-color_f);
}

.header__top-row-link:active {
  outline-color: transparent;
}

.header__top-row-link:active span {
  color: var(--active-color);
}

.header__bottom-row {
  display: flex;
  padding: 14px 45px;
  border-radius: 15px;
  align-items: center;
  background-color: #fff;
}

.header__main-menu {
  margin-right: auto;
}

.main-menu__list {
  display: flex;
}

.main-menu__item:not(:last-child) {
  margin-right: 45px;
}

.main-menu__item-link {
  outline: 1px solid transparent;
  outline-offset: 5px;
  color: var(--project-gray-color-2);
  transition: color .3s ease-in-out, outline-color .3s ease-in-out;
}

.main-menu__item-link:focus {
  outline-color: var(--focus-color);
  color: var(--focus-color);
}

.main-menu__item-link:hover {
  color: var(--hover-color_c);
}

.main-menu__item-link:active {
  outline-color: transparent;
  color: var(--active-color);
}

.header__buttons {
  display: flex;
  column-gap: 40px;
}

/* special-offer */
.special-offers__container {
  display: flex;
  column-gap: 24px;
}

.special-offers__column {
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 24px;
}

.special-offer {
  position: relative;
  display: flex;
  min-height: 258px;
  padding: 40px 45px;
  outline-offset: 8px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-end;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
}

.special-offer_maldives {
  background-image: var(--special-offer-card-gradient), url("../img/special-offers/spec-maldives.jpg");
}

.special-offer_hot-tour {
  background-image: var(--special-offer-card-gradient), url("../img/special-offers/spec-crete.jpg");
}

.special-offer_luxury {
  background-image: url("../img/special-offers/spec-luxury.jpg");
}

.special-offer__title {
  max-width: 420px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #fff;
}

.special-offer_big .special-offer__title {
  font-size: 60px;
}

.special-offer__price {
  opacity: .8;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.special-offer_big .special-offer__price {
  font-size: 30px;
}

.special-offer_big {
  height: 100%;
  min-height: 540px;
  background-size: cover;
}

.special-offer__link {
  width: fit-content; /* нужен чтобы ограничить ширину flex-элемента <a>*/
  padding-right: 16px;
  outline: none;
  background: url("../img/arrow-right.svg") no-repeat right;
  background-size: 11px;
  color: var(--default-color-f);
  transition: padding-right .3s ease-in-out, color .3s ease-in-out;
}

.special-offer__link:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  outline: 1px solid transparent;
  outline-offset: 8px;
  content: '';
  transition: outline-color .3s ease-in-out;

}

.special-offer__link:focus::after {
  outline-color: var(--focus-color);
}

.special-offer__link:hover {
  padding-right: 26px;
}

.special-offer__link:active {
  color: #fff;
}

.special-offer__link:active::after {
  outline-color: transparent;
}

/* about-us */
.about-us__text {
  max-width: 75%;
}


/* services */
.services__services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.service-card {
  position: relative;
  width: 573px;
  padding: 191px 45px 35px;
  border-radius: 15px;
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-card_exclusive-service {
  background-image: url("../img/services/serv-exclusive-service.jpg");
}

.service-card_halls-rent {
  background-image: url("../img/services/serv-halls-rent.jpg");
}

.service-card_spa {
  background-image: url("../img/services/serv-spa.jpg");
}

.service-card_car-parks {
  background-image: url("../img/services/serv-car-parks.jpg");
}

.service-card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.service-card__link {
  display: inline-flex;
  outline: none;
  align-items: center;
  column-gap: 6px;
  color: var(--default-color-c);
  transition: column-gap .3s ease-in-out;
}

.service-card__link span {
  transition: color .3s ease-in-out;
}

.service-card__link svg path {
  transition: stroke .3s ease-in-out;
}

.service__description {
  max-width: 404px;
}

.service-card__link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: 1px solid transparent;
  outline-offset: 8px;
  content: '';
  transition: outline-color .3s ease-in-out;
}

.service-card__link:focus::after {
  outline-color: var(--focus-color);
}

.service-card__link:hover {
  column-gap: 16px;
}

.service-card__link:hover span {
  color: var(--hover-color_f);
}

.service-card__link:hover svg path {
  stroke: var(--hover-color_f);
}

.service-card__link:active::after {
  outline-color: transparent;
}

.service-card__link:active span {
  color: var(--active-color);
}

.service-card__link:active svg path {
  stroke: var(--active-color);
}

/* advantage */
.advantage__list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 22px; */
  /* в соответствии с требованиями практической работы №11
  отказался от gap и реализовал сетку с помощью
  псевдокласса :nth-child элемента сетки, а именно .advantage__list-item */
}

.advantage-card {
  width: 276px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;;
  background-color: #fff;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: 66px;
}

.advantage__list-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantage__list-item:not(:nth-last-child(-n - 4)) {
  margin-bottom: 22px;
}

.advantage-card_bath {
  background-image: url("../img/advantages/1-bath.svg")
}

.advantage-card_hanger {
  background-image: url("../img/advantages/2-hanger.svg")
}

.advantage-card_heating {
  background-image: url("../img/advantages/3-heating.svg")
}

.advantage-card_hotel-key {
  background-image: url("../img/advantages/4-hotel-key.svg")
}

.advantage-card_parking {
  background-image: url("../img/advantages/5-parking.svg")
}

.advantage-card_reception {
  background-image: url("../img/advantages/6-reception.svg")
}

.advantage-card_safe {
  background-image: url("../img/advantages/7-security-box.svg")
}

.advantage-card_swimming-pool {
  background-image: url("../img/advantages/8-swimming-pool.svg")
}

/* accommodation */
.accommodation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.hotel-card {
  display: flex;
  overflow: hidden;
  border-radius: 15px;
  flex: 0 1 374px;
  flex-direction: column;
  background-color: #fff;
}

.hotel-card__content {
  padding: 32px 45px 45px;
}

.hotel-card__content-top-row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.hotel-card__from {
  color: #999;
}

.hotel-card__cost-value {
  font-size: 20px;
  font-weight: 700;
}

.hotel-card__name {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.hotel-card__location {
  margin-bottom: 20px;
  color: #999;
}

.hotel-card_last {
  position: relative;
  display: flex;
  padding: 27px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../img/hotel-cards/last.jpg") no-repeat center;
  background-size: cover;
}

.hotel-card__card-link {
  padding-right: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  background: url("../img/arrow-right-white.svg") no-repeat right;
  background-size: 11px;
  color: #fff;
}

.hotel-card__card-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

/* want-tours */
.want-tours__title {
  padding-left: 0;
}

.want-tours__wrapper {
  padding: 45px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.want-tours__form {
  display: flex;
  padding: 32px 28px;
  border-radius: 15px;
  justify-content: space-between;
  background-color: #fff;
}

.want-tours__inputs {
  display: flex;
  column-gap: 41px;
}

.want-tours__form-item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.want-tours__form-item label {
  font-size: 12px;
}

.want-tours__form-control {
  display: block;
  outline: none;
  border: none;
  font-size: 16px;
  line-height: 1;
}

.want-tours__form-item select {
  min-width: 169px;
  max-width: fit-content;
  padding-right: 36px;
  background: url("../img/select-arrow.svg") no-repeat right;
  background-size: 10px 6px;
  appearance: none;
}

.want-tours__form-item input[type='date']::-webkit-datetime-edit {
  padding-right: 26px;
  flex: 0 0 fit-content;
  align-items: center;
}

.want-tours__form-item input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 1;
  padding: 0;
  background: url('../img/date-picker-icon.svg') no-repeat center;
  background-size: 16px;
  color: transparent;
  cursor: pointer;
}

.want-tours__form-item input[type='number'] {
  max-width: 121px;
  border-bottom: 1px solid #e9e9e9;
}

.want-tours__form-item input[type='number']::placeholder {
  color: #000;
}

.want-tours__form-item input[type="number"]::-webkit-outer-spin-button,
.want-tours__form-item input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  cursor: pointer;
}

/* contacts */
.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: flex;
  padding: 45px;
  border-radius: 15px;
  justify-content: space-between;
  column-gap: 52px;
  background-color: #fff;
}

.contacts__left-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__text-content {
  display: flex;
  width: 375px;
  flex-direction: column;
  row-gap: 25px;
}

.contacts__text-content-item {
  display: flex;
  padding-bottom: 23px;
  border-bottom: 1px solid #e9e9e9;
  justify-content: space-between;
  column-gap: 40px;
}

.contacts__item-group {
  display: flex;
  width: 229px;
  flex-direction: column;
  row-gap: 3px;
}

.contacts__office-photo {
  width: 100%;
  max-width: 653px;
  height: 528px;
  font-size: 0;
  /*   без font-size: 0 у <picture> появляется отступ снизу около 8px*/
}

.contacts__office-photo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.contacts__route-btn {
  max-width: 216px;
}

/* footer */
.footer {
  margin-bottom: 31px;
}

.footer__wrapper {
  display: flex;
  padding: 45px;
  border-radius: 15px;
  background: url("../img/footer-background-image.svg") no-repeat 739px bottom, #333;
  background-size: 254px 228px, cover;
}

.footer__left-column {
  display: flex;
  max-width: 302px;
  margin-right: 125px;
  flex-direction: column;
  row-gap: 40px;
}

.footer__center-column {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer__center-column a {
  line-height: 21px;
}

.footer__paragraph {
  font-style: normal;
  line-height: 190%;
  color: #fff;
}

.footer__center-column-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 5px;
}

.footer__right-column {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  row-gap: 20px;
}

.footer__social-link {
  display: block;
  width: 25px;
  height: 25px;
  outline: none;
}

.footer__social-link svg path {
  fill: var(--project-gray-color-1);
}

.footer__social-link:focus svg path {
  fill: var(--focus-color);
}

.footer__social-link:hover svg path {
  fill: var(--hover-color_c);
}

.footer__social-link:active svg path {
  fill: var(--active-color);
}
