@import url(./benefit.css);

.benefits__container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.benefits__header {
  padding-left: 205px;
  background: url("../../assets/images/benefits/benefits-header-image.png") no-repeat 15px center;
  background-size: 160px 142px;
}

.benefits__title {
  max-width: 468px;
  margin-bottom: 17px;
  color: var(--black-font-color);
}

.benefits__description {
  max-width: 585px;
  color: var(--dark-font-color);
}

@media (min-width: 768px) {
  section.benefits {
    padding-bottom: 75px;
  }

  .benefits__header {
    padding-left: 255px;
    background-size: 211px 187px;
    background-position-y: 23px;
  }
}

@media (min-width: 992px) {
  section.benefits {
    padding-bottom: 80px;
  }

  .benefits__header {
    padding-left: 205px;
    background-size: 160px 142px;
  }
}
