.benefit__text {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 30px;
  font-weight: 700;
  line-height: 120%;
  color: var(--dark-font-color);
}

.benefit__text::before {
  display: block;
  width: 80px;
  height: 80px;
  border: 18px solid var(--accent-color);
  border-radius: 50%;
  flex-shrink: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px;
  content: '';
}

.benefit_eye .benefit__text::before {
  background-color: var(--accent-color);
}

.benefit__text::after {
  position: absolute;
  top: 50%;
  display: block;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 32px;
  content: '';
  transform: translateY(-50%);
}

.benefit_eye .benefit__text::after {
  left: 17px;
  width: 48px;
  background-image: url("../../assets/images/benefits/eye.svg");
  background-size: 48px 32px;
}

.benefit_fingers .benefit__text::after {
  left: 26px;
  background-image: url("../../assets/images/benefits/fingers.svg");
}

.benefit_horn .benefit__text::after {
  left: 23px;
  background-image: url("../../assets/images/benefits/bullhorn.svg");
  background-size: 28px 32px;
}

@media (min-width: 768px) {
  .benefit__text {
    flex-direction: column;
    align-items: start;
    row-gap: 10px;
  }

  .benefit__text::after {
    top: 24px;
    transform: none;
  }
}

@media (min-width: 992px) {
  .benefit__text {
    min-width: 350px;
    flex-direction: row;
    align-items: center;
  }
}
