.course-card {
  display: flex;
  flex-direction: column;
}

.course-card__image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

.course-card__picture {
  display: block;
  width: 100%;
  height: 0;
}

.course-card__picture img {
  width: 100%;
}

.course-card__timing {
  position: absolute;
  top: 10px;
  display: flex;
  column-gap: 5px;
  color: var(--white-font-color);
}

.course-card__timing::before {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../../assets/images/courses/mdi_access_time.svg") no-repeat left center;
  background-size: 100%;
  content: '';
}

.course-card__bottom {
  display: flex;
  border-bottom-left-radius: var(--default-radius);
  border-bottom-right-radius: var(--default-radius);
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--default-course-card-background-color);
}

.course-card__title {
  margin-bottom: 8px;
  line-height: 27px;
  color: var(--black-background-color);
}

.course-card__description {
  color: var(--dark-font-color);
}

@media (min-width: 768px) {
  .course-card__timing {
    right: 10px;
  }

  .course-card__text {
    margin-bottom: auto;
  }

  .course-card__bottom {
    padding: 30px 24px 30px 30px;
    flex-basis: 376px;
    row-gap: 29px;
  }

  .course-card_blender .course-card__bottom {
    padding: 30px 22px 30px 30px;
  }
}

@media (min-width: 992px) {

  .course-card__timing {
    right: 4px;
  }

  .course-card__bottom,
  .course-card_blender .course-card__bottom {
    padding: 30px;
  }

}

@media (min-width: 1200px) {
  .course-card__bottom {
    flex-basis: 300px;
    row-gap: 47px;
  }
}
