@import url(./course.css);

section.courses {
  padding-top: 43px;
  padding-bottom: 50px;
}

.courses__title {
  margin-bottom: 24px;
}

.courses__wrapper {
  row-gap: 30px;
}

@media (min-width: 576px) {
  section.courses {
    padding-top: 75px;
    padding-bottom: 79px;
  }
}

@media (min-width: 768px) {
  .courses__wrapper {
    row-gap: 29px;
  }

  .courses__title {
    margin-bottom: 23px;
  }
}

@media (min-width: 992px) {
  .courses__wrapper {
    row-gap: var(--default-block-indent);
  }

  .courses__title {
    margin-bottom: 24px;
  }
}
