.footer__social {
  padding-top: 28px;
  padding-bottom: 20px;
  justify-content: center;
  column-gap: var(--default-block-indent);
  background-color: var(--black-background-color);
}

.footer__social-link {
  width: 24px;
}

.footer__copyright {
  padding-top: 3px;
  justify-content: center;
}

.footer__copyright-text {
  font-size: 13px;
  text-transform: uppercase;
  line-height: normal;
}

.footer__copyright-text span {
  color: var(--accent-color);
}
