.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 26px;
  background-color: var(--accent-color);
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 27px;
}

.header__logo {
  max-width: 94px;
}


.header__menu {
  display: flex;
  overflow-x: scroll;
  width: 105%;
  align-items: baseline;
  align-self: flex-start;
  column-gap: 56px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.header__menu::-webkit-scrollbar {
  display: none;
}

.header__menu-link {
  font-size: 18px;
  line-height: 100%;
  color: var(--white-font-color);
}

@media (min-width: 576px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__container {
    row-gap: 33px;
  }
}

@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header__menu {
    justify-content: flex-end;
    column-gap: 57px;
  }
}

@media (min-width: 992px) {
  .header__menu {
    column-gap: 56px;
  }
}

