.hero {
  background: var(--black-background-gradient-mobile) center no-repeat;
  background-size: 100%;
}

.hero__container {
  position: relative;
  padding-top: calc(118px + 50px);
  padding-bottom: 51px;
}

.hero__content {
  z-index: 10;
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 45px;
}

.hero__title {
  margin-bottom: 3px;
  color: var(--white-font-color);
}

.hero__description {
  line-height: 133%;
  color: var(--white-font-color);
}

.hero__image {
  position: absolute;
  right: 15px;
  display: none;
  width: auto;
  max-height: 593px;
  transform: translateY(-50%);
}

@media (min-width: 576px) {
  .hero__container {
    padding-top: calc(130px + 80px);
    padding-bottom: 135px;
  }

  .hero__title {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .hero__content {
    row-gap: 62px;
  }

  .hero__title {
    max-width: 385px;
  }

  .hero__description {
    max-width: 326px;
    font-size: 18px;
    line-height: 27px;
  }

  .hero__container {
    padding-top: calc(130px + 80px);
    padding-bottom: 135px;
  }

  .hero__image {
    top: calc(50% + 27px);
    display: block;
  }
}

@media (min-width: 992px) {
  .hero__container {
    padding-top: calc(130px + 80px);
    padding-bottom: 130px;
  }

  .hero__content {
    row-gap: 63px;
  }

  .hero__description {
    max-width: 444px;
    line-height: 26px;
  }
}

@media (min-width: 1200px) {
  .hero__image {
    max-width: 633px;
  }
}
