.hero {
  background: var(--black-background-gradient) center no-repeat;
  background-size: 100%;
}

.hero__container {
  position: relative;
  padding-top: calc(130px + 80px);
  padding-bottom: 130px;
}

.hero__content {
  display: flex;
  width: 100%;
  flex-direction: column;
  row-gap: 63px;
}

.hero__title {
  max-width: 459px;
  color: var(--white-font-color);
}

.hero__description {
  max-width: 444px;
  line-height: 26px;
  color: var(--white-font-color);
}

.hero__image {
  position: absolute;
  top: calc(50% + 40px);
  right: 15px;
  width: auto;
  max-width: 633px;
  max-height: 593px;
  transform: translateY(-50%);
}
