.teacher-card {
  display: flex;
  flex-direction: column;
}

.teacher-card__image {
  display: block;
  overflow: hidden;
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

.teacher-card__image img {
  width: 100%;
}

.teacher-card__title {
  max-width: 254px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--default-light-color);
}

.teacher-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--light-font-color);
}

@media (min-width: 768px) {
  .teacher-card {
    row-gap: 24px;
  }

  .teacher-card__description {
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .teacher-card__description {
  }
}

@media (min-width: 1200px) {
  .teacher-card {
    row-gap: 23px;
  }

  .teacher-card__description {
    max-width: 254px;
  }
}
