@import url(./teacher-card.css);

section.teachers {
  padding-bottom: 73px;
  background-color: var(--black-background-color);
}

.teachers__title {
  margin-bottom: 23px;
  font-size: 37px;
  line-height: 40px;
  letter-spacing: 1.7px;
  color: var(--default-light-color);
}

.teachers__wrapper {
  row-gap: 0;
}

@media (min-width: 768px) {
  section.teachers {
    padding-top: 74px;
    padding-bottom: 49px;
  }

  .teachers__wrapper {
    row-gap: 22px;
  }
}
