@import url(./teacher-card.css);

section.teachers {
  padding-top: 44px;
  padding-bottom: 47px;
  background-color: var(--black-background-color);
}

.teachers__title {
  margin-bottom: 23px;
  color: var(--default-light-color);
}

.teachers__wrapper {
  row-gap: 22px;
}

@media (min-width: 576px) {
  section.teachers {
    padding-top: 75px;
    padding-bottom: 72px;
  }
}

@media (min-width: 768px) {
  section.teachers {
    padding-top: 74px;
    padding-bottom: 49px;
  }

  .teachers__wrapper {
    row-gap: 22px;
  }
}

@media (min-width: 1200px) {
  section.teachers {
    padding-bottom: 73px;
  }
}
