.teacher-card {
  display: flex;
  /* max-width: 255px; */
  flex-direction: column;
  row-gap: 32px;
}

.teacher-card__image {
  display: block;
  overflow: hidden;
  max-height: 180px;
  border-top-left-radius: var(--default-radius);
  border-top-right-radius: var(--default-radius);
}

.teacher-card__title {
  max-width: 254px;
  margin-bottom: 7px;
  font-size: 17px;
  line-height: 150%;
  color: var(--default-light-color);
}

.teacher-card__description {
  max-width: 254px;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  color: var(--light-font-color);
}
