.about {
  margin-bottom: 100px;
}

.about__title {
  margin-bottom: 22px;
}

.about__description {
  max-width: 1235px;
  margin-bottom: 50px;
}

.about__cards {
  display: flex;
  gap: var(--gap);
}

.about__column {
  width: 50%;
}

.about__left-cards-column {
}

.about__right-cards-column {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap);
}

.about__card {
  padding-left: 300px;
}

.about__card_builder {
  background-image: url("../../assets/images/about-cards/success-rates.webp");
}

.about__card_active .card__description::after {
  background-image: url("../../assets/images/about-cards/cube.svg");
}

.about__card_aspiration .card__description::after {
  background-image: url("../../assets/images/about-cards/cogwheel.svg");
}

@media (max-width: 1440px) {
  .about {
    margin-bottom: 77px;
  }

  .about__cards {
    flex-direction: column;
  }

  .about__card {
    padding-left: 315px;
  }

  .about__column {
    width: 100%;
  }

  .about__description {
    margin-bottom: 60px;
  }
}

@media (max-width: 1024px) {
  .about {
    margin-bottom: 81px;
  }

  .about__description {
    margin-bottom: 54px;
  }

  .about__card {
    padding-left: 170px;
  }
}
