.card {
  position: relative;
  display: flex;
  padding: 64px 58px;
  border: 1px solid var(--gray-color1);
  border-radius: var(--radius);
  flex-direction: row;
  gap: 52px;
}

.card_big {
  display: block;
  height: 100%;
  min-height: 622px;
  padding: 0;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__text-content {
  max-width: 452px;
  order: 2;
}

.card__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  color: var(--default-color);
}

.card__description {
  color: var(--default-color);
}

.card__description:before {
  position: absolute;
  top: 108px;
  left: 58px;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--accent-color-1);
  content: '';
}

.card__description::after {
  position: absolute;
  top: 63px;
  left: 114px;
  display: block;
  width: 135px;
  height: 135px;
  background-position: top right;
  background-repeat: no-repeat;
  content: '';
}

.card_big .card__description::before {
  display: none;
}

@media (max-width: 1600px) {
  .card__text-content {
    max-width: 812px;
  }

  .card__description:before {
    top: 95px;
    left: 100px;
    width: 72px;
    height: 72px;
  }

  .card__description:after {
    top: 68px;
    left: 133px;
    width: 81px;
  }

  .about__card_active .card__description:after {
    background-size: 71px;
  }

  .about__card_aspiration .card__description:after {
    background-size: 81px;
  }
}

@media (max-width: 1200px) {

  .card_big {
    min-height: 640px;
    padding: 0;
  }

  .card__text-content {
    /* min-width: 450px; */
    max-width: 452px;
  }

  .card__description:before {
    top: 108px;
    left: 76px;
    width: 120px;
    height: 120px;
  }

  .card__description::after {
    top: 63px;
    left: 128px;
    width: 140px;
    height: 140px;
  }

  .about__card_active .card__description:after {
    background-size: 119px;
  }

  .about__card_aspiration .card__description:after {
    background-size: 137px;
  }
}

@media (max-width: 768px) {
  .card {
    padding: 34px 40px;
  }

  .card_big {
    min-height: 650px;
    padding: 0;
  }

  .card__text-content {
    max-width: 452px;
  }

  .card__description:before {
    top: 95px;
    left: 40px;
    width: 72px;
    height: 72px;
  }

  .card__description:after {
    top: 68px;
    left: 73px;
    width: 81px;
  }

  .about__card_active .card__description:after {
    background-size: 71px;
  }

  .about__card_aspiration .card__description:after {
    background-size: 81px;
  }
}

@media (max-width: 576px) {
  .card {
    padding: 61px 0 0;
    border-width: 0;
    row-gap: 52px;
  }

  .card_big {
    height: 200px;
    min-height: unset;
  }

  .card__text-content {
    min-width: unset;
    max-width: unset;
  }

  .card__title {
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
  }

  .card__description:before {
    top: 6px;
    left: 0;
    width: 43px;
    height: 43px;
  }

  .card__description:after {
    top: 0;
    left: 20px;
    width: 43px;
    height: 48px
  }

  .about__card_active .card__description:after {
    background-size: 43px;
  }

  .about__card_aspiration .card__description:after {
    background-size: 43px;
  }
}
