.footer-form {
  gap: var(--gap);
}

.footer-form__top-row {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-form__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-form__button {
  padding-right: 50px;
  padding-left: 50px;
}
