@import url(../ui-kit/social-icon.css);
@import url(./footer-form.css);

.footer {
  background-color: var(--footer-background-color);
}

.footer__wrapper {
  display: flex;
  padding: 50px 0 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_left {
  margin-right: auto;
  justify-content: space-between;
}

.footer__column_center {
  flex: 0 1 570px;
  row-gap: 25px;
}

.footer__logo-and-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__logo:focus {
  outline-color: var(--accent-color-1);
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.footer-navigation__link {
  width: fit-content;
  line-height: 181%;
  color: var(--gray-color1);
}

.footer-navigation__link:focus {
  outline-color: var(--primary-accent-color);
}

@media (hover: hover) {
  .footer-navigation__link:hover {
    color: var(--primary-accent-color);
  }
}

.footer-navigation__link:active {
  color: var(--primary-active-color);
}

.footer__social {
  display: flex;
  column-gap: 25px;
}

.footer__title {
  color: var(--gray-color1);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__column_right {
  max-width: 363px;
  margin-top: 87px;
  margin-left: auto;
}

.footer__column_right p {
  color: var(--gray-color1);
}

.footer__form-message {
  resize: none;
  height: 150px;
}

.footer__form-agreement {
  color: var(--gray-color1);
}

@media (max-width: 1440px) {
  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__column_left {
    margin-right: 0;
  }

  .footer__column_center {
    flex-basis: 541px;
  }

  .footer__column_right {
    display: none;
  }
}
