.footer-form {
  gap: var(--gap);
}

.footer-form__top-row {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-form__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form__button {
  padding-right: 50px;
  padding-left: 50px;
}

@media (max-width: 1440px) {
  .form__button {
    padding-right: 36px;
    padding-bottom: 16px;
    padding-left: 36px;
  }
}
