@import url(./main-menu.css);

.header {
  margin-bottom: 50px;
}

.header__logo:focus {
  outline-color: var(--primary-focus-color);
}

.header__wrapper {
  display: flex;
  max-width: 1920px;
  padding: 14px 75px;
  border-radius: 0 0 var(--radius) var(--radius);
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__right-side {
  display: flex;
  align-items: center;
  column-gap: 85px;
}

@media (max-width: 1200px) {
  .header {
    margin-bottom: 40px;
  }

  .header__wrapper {
    padding: 26px 50px;
    column-gap: 105px;
  }

  .header__logo {
    max-width: 150px;
  }

  .header__right-side {
    column-gap: 105px;
  }
}

@media (max-width: 992px) {
  .header__logo {
    max-width: 110px;
  }

  .header__wrapper {
    padding: 17px 50px;
    column-gap: 44px;
  }

  .header__right-side {
    column-gap: 43px;
  }
}

@media (max-width: 720px) {
  .header__wrapper {
    position: relative;
    padding-bottom: 80px;
  }

  .header__main-menu {
    position: absolute;
    bottom: 40px;
    left: var(--menu-gorizontal-padding);
    overflow-x: scroll;
    width: calc(100% - (var(--menu-gorizontal-padding) * 2));
    justify-content: space-between;
    column-gap: 24px;
    --menu-gorizontal-padding: 50px;
  }

  .header__main-menu::-webkit-scrollbar {
    display: none;
  }

  .header__main-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@media (max-width: 576px) {
  .header {
    margin-bottom: 20px;
  }

  .header__wrapper {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header__main-menu {
    --menu-gorizontal-padding: 15px;
  }
}
