@import url(./main-menu.css);

.header {
  margin-bottom: 50px;
}

.header__logo:focus {
  outline-color: var(--primary-focus-color);
}

.header__wrapper {
  display: flex;
  padding: 14px 75px;
  border-radius: 0 0 32px 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.10);
}

.header__right-side {
  display: flex;
  align-items: center;
  column-gap: 85px;
}

@media (max-width: 1440px) {
  .header {
    margin-bottom: 40px;
  }

  .header__wrapper {
    padding: 26px 50px;
    column-gap: 105px;
  }

  .header__logo {
    max-width: 150px;
  }

  .header__right-side {
    column-gap: 105px;
  }
}
