.hero {
  margin-bottom: 50px;
}

.hero__wrapper {
  padding: 100px 80px;
  border-radius: 32px;
  background: url("../../assets/images/low-angle-photo-of-balconies-2462015 1.webp") no-repeat center;
  background-size: cover;
}

.hero__content {
  display: flex;
  max-width: 837px;
  margin-bottom: 88px;
  flex-direction: column;
  row-gap: 24px;
}

.hero__title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
}

.hero__description {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

@media (max-width: 1440px) {
  .hero {
    margin-bottom: 35px;
  }

  .hero__wrapper {
    padding: 160px 77px;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__content {
    max-width: unset;
    margin-bottom: 60px;
    row-gap: 16px;
  }

  .hero__description {
    font-size: 20px;
  }
}
