.hero {
  margin-bottom: 50px;
}

.hero__wrapper {
  padding: 100px 80px;
  border-radius: var(--radius);
  background: url("../../assets/images/low-angle-photo-of-balconies-2462015 1.webp") no-repeat center;
  background-size: cover;
}

.hero__content {
  display: flex;
  max-width: 837px;
  margin-bottom: 88px;
  flex-direction: column;
  row-gap: 24px;
}

.hero__title {
  font-size: 70px;
  font-weight: 800;
  color: #fff;
}

.hero__description {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: #fff;
}

@media (max-width: 1200px) {
  .hero {
    margin-bottom: 35px;
  }

  .hero__wrapper {
    padding: 160px 77px;
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__content {
    max-width: 782px;
    margin-bottom: 60px;
    row-gap: 16px;
  }

  .hero__description {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .hero__wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__description {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .hero {
    margin-bottom: 60px;
  }

  .hero__wrapper {
    display: flex;
    padding: 60px 22px 59px;
    flex-direction: column;
    align-items: center;
    row-gap: 34px;
  }

  .hero__title {
    font-size: 20px;
    text-align: center;
  }

  .hero__description {
    font-size: 12px;
    text-align: center;
  }

  .hero__content {
    margin-bottom: 0;
    row-gap: 6px;
  }
}
