.main-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 85px;
}

.main-menu__link {
  border-bottom: 2px solid transparent;
  color: var(--header-text-link-color);
  transition: border-bottom-color var(--transition) var(--transition-func);
}

.main-menu__link:focus {
  outline-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .main-menu__link:hover {
    border-bottom-color: var(--primary-hover-color);
  }
}

.main-menu__link:active {
  border-bottom-color: var(--primary-active-color);
  color: var(--primary-active-color);
}

@media (max-width: 1440px) {
  .main-menu {
    column-gap: 60px;
  }
}
