.questions {
  margin-bottom: 100px;
}

.questions__title {
  margin-bottom: 32px;
}

.questions__wrapper {
  display: flex;
  column-gap: 32px;
  --offsets: 2;
}

.questions__card .card__description::before {
  display: none;
}

@media (max-width: 1200px) {
  .questions {
    margin-bottom: 78px;
  }

  .questions__wrapper {
    flex-direction: column;
    row-gap: 32px;
  }

  .questions__card {
    padding: 64px 60px;
  }

  .questions__card .card__text-content {
    max-width: unset;
  }
}

@media (max-width: 992px) {
  .questions {
    margin-bottom: 80px;
  }

  .questions__title {
    margin-bottom: 30px;
  }

  .questions__card {
    padding: 35px 65px 33px 40px;
    border-radius: 32px;
  }

  .questions__card:nth-child(2) .card__title {
    max-width: 92%;
  }
}

@media (max-width: 576px) {
  .questions {
    margin-bottom: 60px;
  }

  .questions__title {
    margin-bottom: 20px;
  }

  .questions__card {
    padding: 0;
  }

  .questions__card:nth-child(2) .card__title {
    max-width: unset;
  }
}
