.stage {
  padding-bottom: 85px;
  margin-bottom: 15px;
}

.stage__title {
  margin-bottom: 35px;
}

.stage__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.stage__text-content {
  width: 50%;
  min-width: 437px;
}

.stage__text-content-title {
  margin-bottom: 8px;
  line-height: 32px;
}

.stage__text-content-text {
  margin-bottom: 16px;
}

.stage__buttons {
  display: flex;
  column-gap: 32px;
}

.stage__wrapper::after {
  border-radius: var(--radius);
  flex: 0 1 870px;
  background: url("../../assets/images/stage-image.webp") no-repeat center;
  background-size: cover;
  content: '';
}

@media (max-width: 1440px) {
  .stage {
    padding-bottom: 0;
    margin-bottom: 80px;
  }

  .stage__text-content-text {
    margin-bottom: 25px;
  }
}

@media (max-width: 1024px) {
  .stage__title {
    margin-bottom: 31px;
  }

  .stage__wrapper {
    flex-direction: column-reverse;
    row-gap: 39px;
  }

  .stage__wrapper::after {
    max-height: 284px;
  }

  .stage__text-content {
    width: 100%;
    max-width: unset;
  }

  .paragraph-with-indent {
    margin-top: -32px;
    text-indent: 287px;
  }
}
