@import url('./fonts.css');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f1f1f1
}

h1,
h2,
h3,
p {
  margin: 0;
}

/* glob */
.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  padding-top: 70px;
}

.main__section {
  margin-bottom: 70px;
}

.section__title {
  padding-left: 40px;
  margin-bottom: 20px;
  color: #333;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.paragraph {
  line-height: 200%;
  color: #000;
}

/* headings */
h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-weight: 700;
}

/*buttons*/
.btn {
  display: block;
  min-width: 108px;
  padding: 13px 20px;
  border: 1px solid #c93;
  border-radius: 10px;
  line-height: 1;
  background-color: #fff;
  color: #c93;
  cursor: pointer;
}

.btn_big {
  padding: 30px;
}


/* header */
.header {
  padding-top: 30px;
}

.header__top-row {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.header__logo {
  margin-right: 40px;
  font-size: 0;
}

.header__phone-number {
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  color: #666;
}

.header__top-row-link {
  display: flex;
  align-items: center;
  column-gap: 5px;

}

.header__top-row-link span {
  /* padding-top необходим для точного,
  в соответствии с макетом,
  выравнивания span относительно svg */
  padding-top: 3px;
  line-height: 100%;
  color: #c93;
}

.header__bottom-row {
  display: flex;
  padding: 14px 45px;
  border-radius: 15px;
  align-items: center;
  background-color: #fff;
}

.header__main-menu {
  margin-right: auto;
}

.main-menu__list {
  display: flex;
}

.main-menu__item:not(:last-child) {
  margin-right: 45px;
}

.main-menu__item-link {
  color: #666;
}

.header__buttons {
  display: flex;
  column-gap: 40px;
}

/* special-offer */
.special-offers__container {
  display: flex;
  column-gap: 24px;
}

.special-offers__column {
  display: flex;
  width: 50%;
  flex-direction: column;
  row-gap: 24px;
}

.special-offer {
  display: flex;
  overflow: hidden;
  min-height: 258px;
  padding: 40px 45px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-end;
}

.special-offer_maldives {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%) no-repeat center, url("../img/special-offers/spec-maldives.jpg") no-repeat center;
  background-size: contain, cover;
}

.special-offer_hot-tour {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0.00) 66.67%) no-repeat center, url("../img/special-offers/spec-crete.jpg") no-repeat center;
  background-size: contain, cover;
}

.special-offer_luxury {
  background: url("../img/special-offers/spec-luxury.jpg") no-repeat center;
  background-size: cover;
}

.special-offer__title {
  max-width: 420px;
  margin-bottom: 15px;
  font-size: 40px;
  color: #fff;
}

.special-offer_big .special-offer__title {
  font-size: 60px;
}

.special-offer__price {
  opacity: .8;
  margin-bottom: 47px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

.special-offer_big .special-offer__price {
  font-size: 30px;
}

.special-offer_big {
  height: 100%;
  min-height: 540px;
}

.special-offer__link {
  width: fit-content; /* нужен чтобы ограничить ширину flex-элемента <a>*/
  padding-right: 16px;
  background: url("../img/arrow-right.svg") no-repeat right;
  background-size: 11px;
  color: #f0bf5f;
}

/* about-us */
.about-us__text {
  max-width: 75%;
}


/* services */
.services__services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.service-card {
  overflow: hidden;
  width: 573px;
  padding: 191px 120px 35px 45px;
  border-radius: 15px;
  background-color: #fff;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.service-card_exclusive-service {
  background-image: url("../img/services/serv-exclusive-service.jpg");
}

.service-card_halls-rent {
  background-image: url("../img/services/serv-halls-rent.jpg");
}

.service-card_spa {
  background-image: url("../img/services/serv-spa.jpg");
}

.service-card_car-parks {
  background-image: url("../img/services/serv-car-parks.jpg");
}

.service-card__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
}

.service-card__link {
  display: flex;
  align-items: center;
  column-gap: 6px;
  color: #c93;
}

/* advantage */
.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.advantage-card {
  width: 276px;
  padding: 116px 42px 32px 45px;
  border-radius: 15px;
  background-color: #fff;
  background-position: 45px 40px;
  background-repeat: no-repeat;
  background-size: 66px;
}

.advantage-card_bath {
  background-image: url("../img/advantages/1-bath.svg")
}

.advantage-card_hanger {
  background-image: url("../img/advantages/2-hanger.svg")
}

.advantage-card_heating {
  background-image: url("../img/advantages/3-heating.svg")
}

.advantage-card_hotel-key {
  background-image: url("../img/advantages/4-hotel-key.svg")
}

.advantage-card_parking {
  background-image: url("../img/advantages/5-parking.svg")
}

.advantage-card_reception {
  background-image: url("../img/advantages/6-reception.svg")
}

.advantage-card_safe {
  background-image: url("../img/advantages/7-security-box.svg")
}

.advantage-card_swimming-pool {
  background-image: url("../img/advantages/8-swimming-pool.svg")
}

/* accommodation */
.accommodation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.hotel-card {
  overflow: hidden;
  width: 374px;
  border-radius: 15px;
  background-color: #fff;
}

.hotel-card__image {
  display: block;
}

.hotel-card__content {
  padding: 32px 45px 45px;
}

.hotel-card__content-top-row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: space-between;
}

.hotel-card__from {
  color: #999;
}

.hotel-card__cost-value {
  font-size: 20px;
  font-weight: 700;
}

.hotel-card__name {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.hotel-card__location {
  margin-bottom: 20px;
  color: #999;
}

.hotel-card_last {
  display: flex;
  padding: 27px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("../img/hotel-cards/last.jpg") no-repeat center;
  background-size: cover;
}

.hotel-card__card-link {
  /* width: fit-content; */
  padding-right: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 200%;
  background: url("../img/arrow-right-white.svg") no-repeat right;
  background-size: 11px;
  color: #fff;
}

/* прижать ссылку к низу карточки можно двумя способами,
мне больше нравится через флекс -
таким образом нам вообще не нужно будет
использовать класс accommodation__last-card-link */
