.card-billet {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 50px;
  border-radius: var(--radius);
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray-color2);
  gap: 50px;
}

.card-billet__description {
  max-width: 433px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 1600px) {
  .card-billet__description {
    max-width: 800px;
  }
}

@media (max-width: 1200px) {
  .card-billet__description {
    max-width: 454px;
  }
}

@media (max-width: 992px) {
  .card-billet {
    padding: 34px 40px;
    gap: 47px;
  }
}

@media (max-width: 576px) {
  .card-billet {
    position: relative;
    padding: 0;
    border-radius: 0;
    flex-direction: column;
    align-items: start;
    background-color: var(--default-background-color);
    row-gap: 12px;
  }

  .card-billet__description {
    max-width: 100%;
    font-weight: 400;
    color: var(--default-color);
  }
}
