@import url(../ui-kit/social-icon.css);
@import url(./footer-form.css);

.footer {
  background-color: var(--footer-background-color);
}

.footer__wrapper {
  display: flex;
  padding: 50px 0 50px;
}

.footer__column {
  display: flex;
  flex-direction: column;
}

.footer__column_left {
  width: 100%;
  max-width: 551px;
  margin-right: 50px;
  justify-content: space-between;
}

.footer__column_center {
  margin-right: 50px;
  flex: 0 0 570px;
  row-gap: 25px;
}

.footer__logo-and-nav {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__logo:focus {
  outline-color: var(--accent-color-1);
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.footer-navigation__link {
  width: fit-content;
  line-height: 181%;
  color: var(--gray-color1);
}

.footer-navigation__link:focus {
  outline-color: var(--primary-accent-color);
}

@media (hover: hover) {
  .footer-navigation__link:hover {
    color: var(--primary-accent-color);
  }
}

.footer-navigation__link:active {
  color: var(--primary-active-color);
}

.footer__social {
  display: flex;
  column-gap: 25px;
}

.footer__title {
  color: var(--gray-color1);
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__column_right {
  max-width: 363px;
  margin-top: 87px;
  margin-left: auto;
}

.footer__column_right p {
  color: var(--gray-color1);
}

.footer__form-message {
  resize: none;
  height: 150px;
}

.footer__form-agreement {
  color: var(--gray-color1);
}

@media (max-width: 1600px) {

}

@media (max-width: 1440px) {
  .footer__column_left {
    width: 252px;
    max-width: unset;
    margin-right: auto;
  }

  .footer__column_center {
    margin-right: 0;
  }

  .footer__column_right {
    display: none;
  }
}

@media (max-width: 1200px) {
  .footer__wrapper {
    justify-content: space-between;
  }

  .footer__column_left {
    margin-right: 0;
  }

  .footer__column_center {
    flex-basis: 541px;
  }
}

@media (max-width: 992px) {
  .footer__wrapper {
    flex-direction: column-reverse;
  }

  .footer__form {
    max-width: 541px;
  }

  .footer__column_left {
    row-gap: 16px;
  }

  .footer__navigation {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer__wrapper {
    padding-top: 30px;
    padding-bottom: 32px;
  }

  .footer__column_left {
    width: 100%;
    padding-top: 16px;
    border-top: 1px solid var(--gray-color4);
  }

  .footer__column_center {
    margin-bottom: 24px;
    flex-basis: 476px;
    row-gap: 20px;
  }

  .footer__logo-and-nav {
    align-items: center;
  }

  .footer__logo {
    max-width: 131px;
  }

  .footer__social {
    justify-content: center;
    column-gap: 16px;
  }
}
