.footer-form {
  gap: var(--gap);
}

.footer-form__top-row {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-form__bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-form__button {
  padding-right: 50px;
  padding-left: 50px;
}

@media (max-width: 1200px) {
  .footer-form__button {
    padding-right: 36px;
    padding-bottom: 16px;
    padding-left: 36px;
  }
}

@media (max-width: 992px) {
  .footer-form__bottom-row {
    flex-wrap: wrap;
    row-gap: 11px;
  }
}

@media (max-width: 576px) {
  .footer-form {
    row-gap: 25px;
  }

  .footer-form__bottom-row {
    flex-direction: column;
    justify-content: center;
  }

  .footer-form__button {
    padding: 11px 18px;
  }
}
