.button {
  padding: 19px 36px 18px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: 2px solid transparent;
  border-radius: 16px;
  background-color: var(--default-background-color);
  cursor: pointer;
  transition: color var(--transition) var(--transition-func), background-color var(--transition) var(--transition-func), border-color var(--transition) var(--transition-func), outline-color var(--transition) var(--transition-func);
}

.button_big {
  padding: 24px 38px;
  font-size: 23px;
  font-weight: 700;
}

.button_primary {
  border-color: transparent;
  font-weight: 700;
  background-color: var(--primary-accent-color);
  color: var(--primary-text-color);
}

.button_secondary {
  border-color: var(--secondary-accent-border-color);
  background-color: var(--secondary-accent-color);
  color: var(--secondary-accent-text-color);
}

.button_transparent {
  border-color: var(--sub-primary-accent-border-color);
  background-color: transparent;
  color: var(--sub-primary-text-color);
}

.button_primary:focus {
  background-color: var(--primary-focus-color);
}

@media (hover: hover) {
  .button_primary:hover {
    background-color: var(--primary-hover-color);
  }
}

.button_primary:active {
  background-color: var(--primary-active-color);
}

.button_secondary:focus {
  border-color: transparent;
  background-color: var(--secondary-focus-color);
  color: var(--secondary-states-text-color);
}

@media (hover: hover) {
  .button_secondary:hover {
    border-color: transparent;
    background-color: var(--secondary-hover-color);
    color: var(--secondary-states-text-color);
  }
}

.button_secondary:active {
  border-color: transparent;
  background-color: var(--secondary-active-color);
  color: var(--secondary-states-text-color);
}

.button_icon-only {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

.button_icon-only svg {
  scale: 1.2;
}

.button_icon-only svg path {
  stroke: var(--button-icon-default-color);
}

.button_icon-only svg rect {
  fill: var(--button-icon-default-color);
}

.button_icon-only:focus {
  outline-color: var(--button-icon-focus-color);
}

@media (hover: hover) {
  .button_icon-only:hover svg path {
    stroke: var(--button-icon-hover-color);
  }

  .button_icon-only:hover svg rect {
    fill: var(--button-icon-hover-color);
  }
}

.button_icon-only:active {
  outline-color: transparent;
}

.button_icon-only:active svg path {
  stroke: var(--button-icon-active-color);
}

.button_icon-only:active svg rect {
  fill: var(--button-icon-active-color);
}

.button_transparent:focus {
  border-color: transparent;
  background-color: var(--sub-primary-focus-color);
}

@media (hover: hover) {
  .button_transparent:hover {
    border-color: transparent;
    background-color: var(--sub-primary-hover-color);
  }
}

.button_transparent:active {
  border-color: transparent;
  background-color: var(--sub-primary-active-color);
}

@media (max-width: 992px) {
  .button {
    border-width: 3px;
  }

  .button_big {
    padding: 23px 37px;
  }
}

@media (max-width: 576px) {
  .button {
    padding: 11px 42px;
    border-width: 2px;
    border-radius: 8px;
    font-size: 12px;
  }

  .button_big {
    padding: 12px 26px 11px;
  }

  .button_transparent {
    border-color: var(--sub-primary-accent-border-color);
    background-color: transparent;
    color: var(--sub-primary-accent-border-color);
  }
}
