.custom-checkbox {
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"] {
  position: absolute;
  z-index: -10000;
  visibility: hidden;
}

.custom-checkbox__text {
  padding-left: 18px;
  line-height: 32px;
}

.custom-checkbox .custom-checkbox__text::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  border: 1px solid var(--gray-color1);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 13px;
  content: '';
  transform: translateY(-50%);
  transition: border-color var(--transition) var(--transition-func);
}

.custom-checkbox input[type="checkbox"]:checked + .custom-checkbox__text::before {
  background-image: url("../../assets/icons/check.svg");
}

.custom-checkbox input[type="checkbox"]:invalid + .custom-checkbox__text::after {
  opacity: 1;
}

@media (max-width: 576px) {
  .custom-checkbox__text {
    font-size: 16px;
  }
}
