.control {
  padding: 14px 24px;
  outline: none;
  border: none;
  border-radius: 16px;
  line-height: 32px;
  background-color: var(--gray-color4);
  color: #fff;
}

.control::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  color: var(--gray-color1);
}

.control:focus {
  background-color: var(--gray-color3);
}

@media (hover: hover) {
  .control:hover {
    background-color: var(--gray-color3);
  }
}

.control:active {
  background-color: var(--gray-color3);
}
