.social-icon {
  width: 60px;
  height: 60px;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline-color var(--transition) var(--transition-func);
}

.social-icon svg path {
  fill: var(--gray-color3);
}

.social-icon:focus {
  outline-color: var(--primary-accent-color);
}

@media (hover: hover) {
  .social-icon:hover svg path {
    fill: var(--primary-accent-color);
  }
}

.social-icon:active svg path {
  fill: var(--primary-active-color);
}

@media (max-width: 576px) {
  .social-icon {
    width: 40px;
    height: 40px;
  }
}
