.text-link {
  outline: 2px solid transparent;
  outline-offset: 5px;
  font-size: 18px;
  font-weight: 600;
  transition: outline-color var(--transition) var(--transition-func);
}

.text-link:active {
  outline: none;
}

@media (max-width: 1024px) {
  .text-link {
    font-size: 16px;
    font-weight: 700;
  }
}
