h1 {
  font-size: 70px;
  font-weight: 800;
}

h2 {
  font-size: 48px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.paragraph {
  line-height: 32px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 24px;
  }

  .paragraph {
    line-height: 28px;
  }
}
